@import "~@blueprintjs/core/lib/scss/variables";

.LoginPage {
    color: $pt-dark-text-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}
