html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #1d1d1f;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.build-log {
    color: white;
    background-color: #2a2e33;
    margin: 0;
    padding: 20px
}
